path {
    fill: none;
    stroke: #f9f9f9;
    vector-effect: non-scaling-stroke;
    stroke-dasharray: 30px, 10px;
    animation: stroke 0.8s linear infinite;
    shape-rendering: geometricPrecision;
    stroke-dashoffset: 0;
    stroke-width: 5px;
}


@keyframes stroke {
    to {
        stroke-dashoffset: 80px;
    }
}
