.error {
    font-family: $font;
    color: $light;
    min-width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    background: #5f7387;
    background: -moz-radial-gradient(center, ellipse cover, #5f7387 0%, #253f5b 98%);
    background: -webkit-radial-gradient(center, ellipse cover, #5f7387 0%, #253f5b 98%);
    background: radial-gradient(ellipse at center, #5f7387 0%, #253f5b 98%);
    //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5f7387', endColorstr='#253f5b', GradientType=1);
    &__img {
        background: url('../images/404/corgibutwhy.png') no-repeat top center;
        background-size: contain;
    }
    &__title {
        text-align: center;
        font-size: 16rem;
        font-weight: 700;
    }
    &__desc {
        margin-top: 50px;
        text-align: center;
        height: 20%;
        .animated__wrapper {
            fill: none;
            stroke: #f9f9f9;
            //vector-effect: non-scaling-stroke;
            stroke-dasharray: 30px, 10px;
            animation: stroke 0.8s linear infinite;
            shape-rendering: geometricPrecision;
            stroke-dashoffset: 0;
            stroke-width: 5px;
        }
    }
}

@keyframes stroke {
    to {
        stroke-dashoffset: 80px;
    }
}

@media (max-device-width: 375px) {
    .error__img {
        background: url('../images/404/corgibutwhy.png') no-repeat top center;
        background-size: contain;
    }
}

@media (min-device-width: 375px) {
    .error__title {
        height: 35%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    .error__img {
        max-width: 30%;
        height: 30%;
        margin-left: 35%;
    }
    .error__desc {
        margin-top: 0;
        height: 35%;
    }
    .error__title {
        font-size: 8rem;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .error__img {
        max-width: 30%;
        height: 30%;
        margin-left: 35%;
    }
    .error__desc {
        margin: 0 38%;
        height: 35%;
        //boom
    }
    .error__title {
        font-size: 14rem;
    }
}