.header {
    margin-top: 2vh;
    background: $blue;
    color: $dark;
    position: relative;
    
    &:before{
        content: '';
        @include pos($t:0, $l:0);
        @include size(100%);
        background: url('../images/header/main-header-bg-line.svg') no-repeat center bottom;
        background-size: contain;
    }
    
    &__main{
        
    }
    
    .top__row{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .text__head{
            
            line-height: 2em;
            
            .bold{
                font-size: 3.25rem;
            }
        }
        
        .logo__img{
            @include size(10em);
        }
    }
    .text{
        
        &__footer{
            padding-bottom: 8em;
        }
    }
}




