.price {
   // @include pos($t:30%, $l:50%);
    order: 3;
    width: 55%;
    padding: 0 0 5em 0;

    .cont {
    display: flex;
    flex-direction: column;
    }

    &__title {
        font-size: 1.25rem;
        padding: 0 0 2.75em 3rem;
    }

    &__text {
        font-size: 0.8rem;
        line-height: 1rem;
        padding: 2rem 0 0 3rem;
    }

    &__item {
        margin: 0 0 0 3rem;
        background: linear-gradient(192.06deg, #1D354E 34.22%, #294563 90.13%);
        box-shadow: 0px 4px 10px #10243C;
        position: relative;
        
        &:hover .price__hover{
            opacity: 1;
        }
    }

    &__hover {
        z-index: 1;
        @include pos($t:0, $l:-3rem);
        @include size(3rem, 100%);
        background: linear-gradient(180deg, #E5E5E5 -100%, #FD6F6B 65.75%);
        transition: all .5s;
        opacity: 0;
        
        

        &-text {
            @include pos($l:-25%, $t:-10%);
            font-size: 1.2rem;
            font-weight: 700;
            transform: rotate(-90deg) translateX(-150%);
        }
    }

    &__card { 
        z-index: 2;
        padding: 2rem 2rem 2rem 4rem;
        margin: 1rem;
    }

    &__headline {

    }

    .list {
        margin-top: 1.7em;
        list-style: disc;


        &__item {
            font-size: 0.9rem;
            padding: 0 0 0 -1rem;
            line-height: 1.5rem;
        }
    }
}
