* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

body,
html {
    min-height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.clear::after,
.clear::before {
    content: " ";
    display: table;
}

.clear::after {
    clear: both;
}

body {
    background: $dark;
    font-size: 16px;
    color: $blue;
    font-family: $font, sans-serif;
}

.cont {
    margin: 0 2rem;
    width: calc(100% - 4rem);
    height: 100%;
}

.bold {
    font-weight: 700;
}

.red {
    color: $red;
}

.btn {
    width: 60%;
    height: 3rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 21.5%;
    vertical-align: center;
    background: linear-gradient(180deg, #FBAFAC -100%, #FD6F6B 65.75%);
    &__text {
        color: $light;
    }
}

.footer {
    @include size(100px, 100%);
    background: #182635;
}

.title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-bottom: 1.25rem;
}

.section-wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    background: #5f7387;
    background: -moz-radial-gradient(center, ellipse cover, #5f7387 0%, #253f5b 98%);
    background: -webkit-radial-gradient(center, ellipse cover, #5f7387 0%, #253f5b 98%);
    background: radial-gradient(ellipse at center, #5f7387 0%, #253f5b 98%);
    //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5f7387', endColorstr='#253f5b', GradientType=1);
}