.error {
    font-family: $font;
    color: $light;
    min-width: 100vw;
    height: 100vh;
    background: radial-gradient(50% 50%, #5f7387, #253f5b);

    &__text {
        background: url('../images/404/corgibutwhy.png') no-repeat top center;
        background-size: contain;
    }

    &__title {
        text-align: center;
        font-size: 16rem;
        font-weight: 700;
    }

    &__desc {
        margin-top: 50px;
        text-align: center;
        padding: 0;
        
        .animated__wrapper {
            fill: none;
            stroke: #f9f9f9;
            vector-effect: non-scaling-stroke;
            stroke-dasharray: 30px, 10px;
            animation: stroke 0.8s linear infinite;
            shape-rendering: geometricPrecision;
            stroke-dashoffset: 0;
            stroke-width: 5px;
        }
    }

}

@keyframes stroke {
    to {
        stroke-dashoffset: 80px;
    }
}

@media (max-width: $width-md) {
    .error__text{
        height: 30%; 
    }
}

@media (max-width: $width-sm) {
    .error__text{
        height: 30%; 
    }
    .error__desc {
        margin-top: 0;
    }
}
